body {
    margin: 0px;
    padding: 0px;
}

h1{
    color: green;
}

a{
    color: brown;
}
.header{
    background-color: brown;
    padding: 10px;
    padding-inline-start: 0px;
}

.main-page {
    color: white;
    padding: 16px;

}


main {

    display: grid;
    grid grid-template-columns: auto auto auto auto;
}


.footer {
    padding: 16px;
    background-color: brown;
    color: white;

}

nav {
    color: black;
    border-bottom: 1;
    padding: 16;
}



.recipe-box{
    display: grid;
    grid-template-columns: auto auto auto auto;
}


table{
    border-collapse: collapse;
}

thead{
    text-align: left;

}
